# ==============================================================================
# InvWare Production Environment Variables for Azure VM
# ==============================================================================

# Password administrator SQL Server (Wajib minimal 8 karakter, huruf besar, huruf kecil, angka, simbol)
MSSQL_SA_PASSWORD=SuperSecretWarehousePass2026!

# JWT Secret Key (Minimal 256-bit / 32 karakter untuk HMAC-SHA256)
JWT_KEY=InvWareProductionSecretKey2026SuperSecureCryptographicKey32Bytes!
